
/ova
*.log
template.json
vapp-test.json
vapp-test.psd1
.vscode/launch.json
state.json
vapp-test-WorkloadDomainApi.json
vapp-test-WorkloadDomainUi.json
test.xlsx 
test.xlsx
vapp-test copy.json
custom_vsan_esa*.json
vcf-test?
